@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Patrick+Hand+SC&display=swap');

:root {
  --cor-fundo: #FFF8DC;
  --cor-texto: #222;
  --cor-destaque1: #FCD326; 
  --cor-destaque2: #FEB821; 
  --cor-escuro: #005C44;    /* verde escuro */

  --fonte-principal: 'Nunito', sans-serif;
  --fonte-titulos: 'Patrick Hand SC', cursive;

  --sombra-verde: 4px 4px var(--cor-escuro);
}

/* Body */
body {
  margin: 0;
  font-family: var(--fonte-principal);
  color: var(--cor-texto);
  background-image: url("../Images/Backgroud.jpg");
  background-repeat: repeat;
  background-position: center; /* centraliza a imagem */
}

/* Header */
header {
  text-align: center;
  padding: 1rem;
}

header img {
    margin-bottom: 2rem;
}

/* Navegação */
nav a {
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #834E00;
  background: var(--cor-destaque1);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: var(--sombra-verde);
  font-family: var(--fonte-principal);
}

nav a:hover {
  background: var(--cor-destaque2);
}

h1 {
font-family: var(--fonte-titulos);
  color: var(--cor-fundo);
  text-align: center;
  margin: 2rem 0;
}

h2 {
  font-family: var(--fonte-titulos);
  color: var(--cor-fundo);
  text-align: center;
  margin: 2rem 0;
}

main {
    text-align: center;
    padding: 1rem;
}

main img {
    max-width: 20rem;
    padding: 1rem;
}

/* Lista de jogos */
.games {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Cards */
.card {
  background: var(--cor-fundo);
  border: 4px solid var(--cor-destaque1);
  border-radius: 15px;
  width: 250px;
  padding: 1rem;
  text-align: center;
  box-shadow: var(--sombra-verde);
}

.card h3 {
  font-family: var(--fonte-titulos);
  color: var(--cor-escuro);
}

.card a {
  font-family: var(--fonte-principal);
  color: var(--cor-escuro);
  text-align: center;
  margin: 2rem 0;
  font-family: var(--fonte-principal);

}

footer {
    padding: 1rem;
    color: #ffff;
}